
body {
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: center;
}

.navbar > h1 {
  font-size: 35px;
  font-weight: 900;
}

.pencil {
  position: absolute;
  top: 35px;
  right: 10%;
  font-size: 30px;
}

.pencil:hover {
  animation: vibration .4s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

.line{
  margin: auto;
  background-color: black;
  width:100%;
  height: 1px;
}


/*content*/

.content{
  display: flex;
  justify-content: center;
}


/*calendar*/

.react-calendar{
  margin: 70px 100px 0px 0px;
  border: 1px solid white;
}

.react-calendar__navigation__label__labelText{
  font-family:'Noto Sans KR', sans-serif;;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth{
  font-size: 12px;
  color: #C6C6C6;
}

.react-calendar__month-view__days__day--weekend{
  font-size: 12px;
  color: #17A1FA;
}

.react-calendar__tile{
  font-size: 12px;
  color: #9D9D9D;
}

/*todoList*/

.toDo-list {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 100px;
}

.category{
  background-color: #f3f3f3;
  width: 500px;
  padding: 12px 12px 12px 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.addTodoBtn{
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  float: right;
  margin-right: 18px;
  font-size: 15px;
}


.todo{
  margin-bottom: 20px;
  width: 513px;
}

.checkbox { 
  background-color: #EDEDED;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.noncheck{
  position:relative;
  top: 2px;
}

.checkbox:hover{
  background-color: #dbdbdb;
}

.checked{
  position:relative;
  color: white;
  font-size: 13px;
  bottom:4px;
}

.checked > i{
  position: relative;
  right: 1px;
  top: 1px;
}

.todoInput{
  font-family: 'Noto Sans KR', sans-serif;
  border-color: transparent;
  font-size: 20px;
  outline: 0;
  margin-left: 20px;
}
.todoInput:focus{
  border-width: 0 0 1px;
  border-color: black;
}

.todoDlt{
  float:right;
  color: #DFDFDF;
}

.todoDlt:hover{
  color:#C4C4C4;
}

/*Modal*/

.modal{
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 130px;
  width: 430px;
  height: 480px;
  border: 1px solid black;
  background-color: white
}

.modalNav{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 0px 40px;
  font-size: 20px;

}

/*editModal*/

.editModal {
  display: flex;
  flex-direction: column;
}

.modalNav > h2 {
  font-size: 20px;
}

.modalNav > .editClose {
  font-size: 18px;
  position: relative;
  top:2px;
}

.modalNav > .addButton {
  position: relative;
  top:1px;
}

.editCategory {
  margin: 10px 41px 10px 48px;
  padding: 5px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDED;
}

.categoryName {
  background-color: #EDEDED;
  height: 38px;
  padding: 0px 10px;
}

.categoryName > h3 {
  font-size: 16px;
  position: relative;
  bottom: 9.5px;
}

.categoryEdit {
  color: #bbbbbb;
  position: relative;
  bottom: 5px;
}

.editWrite {
  background-color: #EDEDED;
  width: 400px;
  height: 50px;
  position: absolute;
  top: 417px;
  left: 15px;
  font-weight: bold;
}

.editWrite:hover {
  background-color: #e1e1e1;
}

/* .editCategoryList{
  overflow: scroll;
} */



/*addCategory*/

.addCategory > .modalNav {
  justify-content: left;
}

.addCategory > .modalNav > .editClose {
  margin-right: 86px;
}

.addCategory {
  display: flex;
  flex-direction: column;
}

.addtextInput {
  margin: 10px 41px 10px 48px;
  padding-bottom: 5px;
  outline: 0;
  border-color: transparent;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.addtextInput::placeholder{
  color:#bcbcbc;
}

.addCategory > h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/*colorPick*/

.colorList {
  display: flex;
  flex-wrap:wrap ;
  justify-content: left;
  margin: 0px 41px 10px 41px;
}

.colorCircle {
  width: 25px;
  height: 25px;
  margin:10px 16.5px;
  border-radius: 50%;
  color:white;
  padding-bottom: 20px;
}

.colorCircle:hover {
  opacity: 0.6;
}

.colorBorder {
  border: 2px solid black;
}

/*deleteCategory*/

.deleteCategory {
  display: flex;
  flex-direction: column;
}

.deleteCategory > .modalNav {
  justify-content: space-between;
}



.editInput {
  margin: 10px 41px 10px 48px;
  padding-bottom: 5px;
  outline: 0;
  border-color: transparent;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.deleteCategory > h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.delete {
  font-size: 17px;
  position: relative;
  top:2px;
  color: rgb(232, 67, 67);
}
